
#banner{
	width: 100%;
	max-width:1900px;
	height: 540px;
	border: dashed green 2px;
}
.title{
  font-size: 1.7em;
  text-align: center;
  font-weight: bold;
  margin: 1em 0 1em 0;
  color: #66002e;
}
.infoPanel{
  display: none;
  margin-top: 1em;
  margin-left: 0px;
  font-weight: bold;
  text-align: center;
}
.infoLine{
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.featurette h2{
  margin-bottom: 1em !important;
}

#graphPanel{
  margin-top: 4em;
}