#banner{
	width: 100%;
	max-width:1900px;
	height: 540px;
	border: dashed green 2px;
}
.title{
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  margin: 10px 0 10px 0;
  color: #66002e;
}
.infoPanel{
  display: none;
  margin-top: 20px;
  margin-left: 10px;
  font-weight: bold;
}
.infoLabel{
  
}

