
.container, .container-fluid{
	width:100%;
	padding:0;
	margin:-20px 0 0 0; /* Remove top border come into effect when embedded in Google Site */
}

.feed-item .thumb{
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	display: block;
	background-color: #695E4A;
}

.feed-item h2{
	font-family: Roboto, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.56;
    color: #BB6268 !important;
}
/* Hiding extra feed items on small computer screen scales */
/*
@media (max-width:1200px) and (min-width:970px) {
	.feed-item:nth-child(n+4) {
    display: none;
  }
}
*/

/*

.feed-item a, .feed-item a:visited{
	color: #298cca!important;
}
  
.feed-item-title{
	color:#298cca;
	text-decoration:none;
	font-size: 14px;
	font-weight: bold;
}
  
.feed-item-title:visited{
	color:#298cca;
}

.feed-item-time, .feed-item > .sponsor{
	font-weight:bold;
	font-size: smaller;
}

.feed-item-time{
	margin-bottom: 5px;
}


.feed-item > .sponsor{
	color:#DF24FF!important;
}

.feed-item-time > .today, .feed-item-time > .tomorrow{
	color:#DF24FF;
	font-weight: bolder;
}	


.feed-item.warning > .feed-item-title{
	color: #AD0606!important;
}
	
.feed-item.feature{
	padding: 15px;
	background-color:#F5F5ED;
	border: solid #D2C332 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.feed-item.feature > .feed-item-title{
	color: #AF5809!important;
}

.feed-item.feature > .sponsor{
	color:#905C16!important;
}

.feed-item-posted-date{
	font-size: 0.8em;
	font-style:italic;
}

.feed-item. .attachments {
	margin-top:3px;
}

.feed-item .attachments a, .feed-item .attachments a:visited{
	font-size: smaller;
	color:#064ED6!important;
}
*/

